/OneDrive/Documentos/NetBeansProjects/F1EngineManager/nbproject/private/
# NetBeans build directory
build/
dist/
nbproject/private/
nbproject/build-impl.xml
nbproject/genfiles.properties

# Archivos de usuario/IDE
.DS_Store
*.tmp
*.bak
